<div class="home">
    <div class="profile-image1">
        <img src="./assets/img/profileimage.png">
    </div>
    <div class="background-effects">
        <img src="./assets/img/1bg.png">
    </div>
    <div class="background-cut">
        <img src="./assets/img/cut.png">

    </div>
    <div class="me">
        <div class="i-am">
            <span>I am</span>
        </div>
        <div class="my-name">
            <h2>Ilmar Kerner</h2>
        </div>
        <div class="profesionality">
            <h2>FRONTEND DEVELOPER</h2>
        </div>
        <div class="lets-talk">
            <a href="#">Let's talk!</a>
        </div>
    </div>
    <div class="home-footer">
        <div>
            <img src="./assets/img/line.png">
        </div>
        <div class="contacts">
            <img src="./assets/img/github.png">
            <img src="./assets/img/email.png">
            <img src="./assets/img/linkedin.png">
            <a href="#">kernerilmar@mail.com</a>
        </div>
    </div>
    <div class="scroll-down">
        <a href="#">Scroll down &rarr;</a>
    </div>
    <div class="home-footer-shadow">
        <img src="./assets/img/purple1.png">
    </div>
</div>