<div class="fourth-project">
    <div class="fourth-project-container">
        <div class="fourth-project-description">
            <h2>Pokédex</h2>
            <h3>Javascript | HTML | CSS | API</h3>
            <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</p>
            <div class="fourth-project-buttons">
                <a href="#"><button class="fourth-live-test">Live test</button></a>
                <a href="#"><button class="fourth-github">Github</button></a>
            </div>
        </div>
        <div>
            <img src="./assets/img/pokedex.png">
        </div>
    </div>
</div>