<div class="fifth-project">
    <div class="fifth-project-container">
        <div>
            <img src="./assets/img/crypto-converter.png">
        </div>
        <div class="fifth-project-description">
            <h2>Simple CRM</h2>
            <h3>Angular | Firebase</h3>
            <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
            <div class="fifth-project-buttons">
                <a href="#"><button class="fifth-live-test">Live test</button></a>
                <a href="#"><button class="fifth-github">Github</button></a>
            </div>
        </div>
    </div>
    <div class="blue-shadow2">
        <img src="./assets/img/shadow-blue2.png">

    </div>
</div>