<div class="third-project">
    <div class="third-project-container">
        <div>
            <img src="./assets/img/crm.png">
        </div>
        <div class="third-project-description">
            <h2>Simple CRM</h2>
            <h3>Angular | Firebase</h3>
            <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
            <div class="third-project-buttons">
                <a href="#"><button class="third-live-test">Live test</button></a>
                <a href="#"><button class="third-github">Github</button></a>
            </div>
        </div>
    </div>
    <div class="blue-shadow">
        <img src="./assets/img/shadow-blue.png">
    </div>
</div>