<div class="about-content">
    <div class="description">
        <div class="about-me">
            <h1>About me</h1>
        </div>
        <div class="regular">
            <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin
                massa vel lorem vestibulum efficitur.</p>
        </div>
        <div class="personal1">
            <div class="bulb">
                <img src="./assets/img/bulb.png">
            </div>
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="personal2">
            <div class="puzzle">
                <img src="./assets/img/puzzle.png">
            </div>
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
    </div>
    <div class="about-image">
        <img src="./assets/img/profileimage.png">

    </div>
    <div class="line2">
        <img src="./assets/img/line2.png">
    </div>
</div>