.header-portfolio {
    background: #141D2F;
    width: 1440px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
        width: 389px;
        height: 108px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }
    P {
        position: absolute;
        width: 733px;
        height: 19px;
        left: 353px;
        bottom: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }
}

.line4 {
    position: absolute;
    right: 0;
}

.line5 {
    position: absolute;
    left: 380px;
}