<div class="my-skills-container">
    <div class="skills">
        <div class="first-skillline">
            <img src="./assets/img/angular.png">
            <img src="./assets/img/typescript.png">
            <img src="./assets/img/javascript.png">
            <img src="./assets/img/html.png">
        </div>
        <div class="second-skillline">
            <img src="./assets/img/firebase.png">
            <img src="./assets/img/git.png">
            <img src="./assets/img/css.png">
            <img src="./assets/img/rest-api.png">

        </div>
        <div class="third-skillline">
            <img src="./assets/img/scrum.png">
            <img src="./assets/img/material-design.png">

        </div>
    </div>

    <div class="skills-description">
        <h1>My skills</h1>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <img src="./assets/img/line3.png">
        <div class="get-in-touch">
            <a href="#">Get in touch</a>
        </div>
    </div>
    <div class="green-shadow">
        <img src="./assets/img/green1.png">
    </div>
</div>