<div class="second-project">
    <div class="second-project-container">
        <div class="second-project-description">
            <h2>El Pollo Loco</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
            <div class="second-project-buttons">
                <a href="#"><button class="second-live-test">Live test</button></a>
                <a href="#"><button class="second-github">Github</button></a>
            </div>
        </div>
        <div>
            <img src="./assets/img/el-pollo-loco.png">
        </div>
    </div>
</div>